[config]
gid=*DOL*
gameTitle=Drunk of Legends
welcomeMessage=Have fun, but be careful danger lurks in every corner. Safety not guaranteed! 
rollCharacterMessage=Use !roll CHARACTER_CLASS to roll a new character. Use !class to see all classes.
bufferMax=50
cashAddAmount=10
channel=%techaholica
baseDir=TechaMud\#techaholica
minPosDrunk=5
maxPosDrunk=10
minNegDrunk=11
maxNegDrunk=30
minPosSober=10
maxPosSober=20
minNegSober=1
maxNegSober=10
bufferTimer=500
userTimer=600
userTimerCashReward=10
userTimerSoberReward=-5
inventoryMax=25
freeDrinkNumber=10
freeDrinkNumberSlots=10

